@page "/"
@using Microsoft.Extensions.Logging



<h1>Your Flight Number</h1>
<EditForm Model="@inputfdModel">
    <InputText id="flightno" @bind-Value=inputfdModel.Name />
    <br>
    <input type="submit" class="btn btn-primary" value="Checkout" />
    <ValidationMessage For="() => inputfdModel.Name" />
    @*<button class="btn btn-primary" type="submit" @onclick="HandleValidSubmit">Check</button>
        <button class="btn btn-primary" type="submit">Subscribe</button>*@

    <!-- <button class="btn btn-primary" @onclick="CheckFlight">Check</button> -->
    <!-- <button class="btn btn-primary" @onclick="SubsctibeFlight">Subscribe</button> -->

</EditForm>

<br>
@*<TableTemplate>
    <TableHeader>
        <th>ID</th>
        <th>Name</th>
    </TableHeader>
    <RowTemplate>
        <td>Text</td>
        <td>Text</td>
    </RowTemplate>
</TableTemplate>*@

@code {
    
}