@page "/"
@using Microsoft.Extensions.Logging



<h1>Your Flight Number</h1>

<EditForm Model="@inputfdModel" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="flightno" @bind-Value="inputfdModel.Name" />
    <br>
    <button class="btn btn-primary" type="submit" @onclick="HandleValidSubmit">Check</button>
    <!-- <button class="btn btn-primary" type="submit">Subscribe</button> -->
    
    <!-- <button class="btn btn-primary" @onclick="CheckFlight">Check</button> -->
    <!-- <button class="btn btn-primary" @onclick="SubsctibeFlight">Subscribe</button> -->

</EditForm>

<br>
    <table class="table">
        <tbody>
                <tr>
                    <td><b>FLIGHT STATUS / ACTION</b></td>
                </tr>
                <tr>
                    <td>FLIGHT STATUS / ACTION - Response</td>
                </tr>
                <tr>
                    <td><b>TIME REMAINING</b></td>
                </tr>
                <tr>
                    <td>TIME REMAINING - Response</td>
                </tr>
                <tr>
                    <td><b>TERMINAL</b></td>
                </tr>
                <tr>
                    <td>TERMINAL - Response</td>
                </tr>
                 <tr>
                    <td><b>GATE</b></td>
                </tr>
                <tr>
                    <td>GATE - Response</td>
                </tr>
        </tbody>
    </table>

