@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor Http
@inject IJSRuntime JSRuntime
@using BlazorStrap;
@using BlazorStrap.Extensions.BSDataTable;

@if (!ConsentGiven)
{
<BSContainer>
    <BSRow>
        <BSCol SM="12" MD="6" MDOffset="3">
<div id="cookieConsent" class="alert alert-secondary alert-dismissible fade show" role="alert" >
       <p class="font-weight-normal" style="text-align:center;">Polityka prywatności i polityka "Cookie"</p>
       <a class="btn btn-outline-secondary" style="text-align:center;" href="/cookie/consent">Akceptuj</a>
        <BSCollapseItem>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">
                        <BSCollapseToggle IsLink="true">Polityka Prywatności</BSCollapseToggle>
                    </BSCard>
                    <BSCollapse>
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Text">
                                <Privacy />
                            </BSCard>
                        </BSCard>
                    </BSCollapse>
                </BSCard>
            </BSCollapseItem>
       
</div>
        </BSCol>
       </BSRow>
</BSContainer>
        @*<th scope="col">
            <BSCol SM="auto" SMOffset="1">
        <BSButton Color="Color.Primary"  data-cookie-string="@cookieString" @onclick="AcceptMessage">Akceptuj</BSButton>          
        </BSCol>
        </th>*@
    
}
    
    

@code {
    [CascadingParameter]
    public bool ConsentGiven { get; set;}
    
}