@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor Http
@inject IJSRuntime JSRuntime
@using BlazorStrap;
@using BlazorStrap.Extensions.BSDataTable;


@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
       <th scope="col">
       Please check and Accept our Privacy Policy and Cookie Policy.
        <BSCollapseItem>

                <BSCard CardType="CardType.Card">

                    <BSCard CardType="CardType.Header">

                        <BSCollapseToggle IsLink="true">Privacy Policy</BSCollapseToggle>

                    </BSCard>

                    <BSCollapse>

                        <BSCard CardType="CardType.Body">

                            <BSCard CardType="CardType.Text">
                                <Privacy />
                            </BSCard>

                        </BSCard>

                    </BSCollapse>

                </BSCard>

            </BSCollapseItem>
        </th>
        <th scope="col">
            <BSCol SM="auto" SMOffset="1">
        <BSButton Color="Color.Primary"  data-cookie-string="@cookieString" @onclick="AcceptMessage">Accept</BSButton>          
        </BSCol>
        </th>
        
        
    </div>
    
}
@code {
    ITrackingConsentFeature consentFeature;
    bool showBanner;
    string cookieString;

    protected override void OnInitialized()
    {
        consentFeature = Http.HttpContext.Features.Get<ITrackingConsentFeature>();
        showBanner = !consentFeature?.CanTrack ?? false;
        cookieString = consentFeature?.CreateConsentCookie();
    }

    private void AcceptMessage()
    {
        // JsInterop call to store the consent cookies.
        JSRuntime.InvokeVoidAsync("CookieFunction.acceptMessage", cookieString);
        showBanner = false;
    
    }
}