@page "/privacy";
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.Http;

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Polityka prywatności naszej firmy</h5>
    <p class="font-weight-normal" style="text-align:left;">

<br>Nasza firma jest częścią grupy WYW, która obejmuje WYW Developers i WYW Analytics. Niniejsza polityka prywatności wyjaśni, w jaki sposób nasza organizacja wykorzystuje dane osobowe, które zbieramy od Ciebie, gdy korzystasz z naszej strony internetowej.
<br>
<br>Tematy:
<br>Jakie dane zbieramy?
<br>Jak zbieramy Twoje dane?
<br>Jak wykorzystamy Twoje dane?
<br>Jak przechowujemy Twoje dane?
<br>Marketing
<br>Jakie są Twoje prawa do ochrony danych?
<br>Co to są pliki cookie?
<br>Jak używamy plików cookie?
<br>Jakich typów plików cookie używamy?
<br>Jak zarządzać plikami cookie
<br>Polityka prywatności innych stron internetowych
<br>Zmiany w naszej polityce prywatności
<br>Jak się z nami skontaktować
<br>Jak skontaktować się z odpowiednimi władzami
<br>Jakie dane zbieramy?
<br>Nasza firma gromadzi następujące dane:
<br>Osobiste dane identyfikacyjne (imię i nazwisko, adres e-mail, numer telefonu itp.)
<br>[Dodaj inne dane gromadzone przez Twoją firmę]
<br>Jak zbieramy Twoje dane?
<br>Przekazujesz bezpośrednio naszej firmie większość gromadzonych przez nas danych. Zbieramy dane i przetwarzamy dane, gdy:
<br>Zarejestruj się online lub złóż zamówienie na dowolny z naszych produktów lub usług.
<br> Dobrowolnie wypełnij ankietę dla klientów lub przekaż opinię na naszych forach dyskusyjnych lub za pośrednictwem poczty e-mail.
<br> Korzystaj lub przeglądaj naszą witrynę internetową za pomocą plików cookie przeglądarki.
<br> [Dodaj inne sposoby, w jakie Twoja firma zbiera dane]
<br>
<br>Nasza firma może również otrzymywać Twoje dane pośrednio z następujących źródeł:
<br>
<br> [Dodaj wszelkie pośrednie źródło danych, jakie posiada Twoja firma]
<br>
<br>Jak wykorzystamy Twoje dane?
<br>
<br>Nasza firma gromadzi Twoje dane, abyśmy mogli:
<br>
<br> Przetwarzać zamówienie i zarządzać Twoim kontem.
<br> Wysyłac do Ciebie e-mail z ofertami specjalnymi dotyczącymi innych produktów i usług, które naszym zdaniem mogą Ci się spodobać.
<br> [Dodaj, jak jeszcze Twoja firma wykorzystuje dane]
<br>
<br>Jeśli wyrazisz zgodę, nasza firma udostępni Twoje dane naszym firmom partnerskim, aby mogły oferować Ci swoje produkty i usługi.
<br>
<br> [Wymień organizacje, które otrzymają dane]
<br>
<br>Gdy nasza firma przetwarza Twoje zamówienie, może wysyłać Twoje dane do biur informacji kredytowej, a także wykorzystywać uzyskane od nich informacje w celu zapobiegania nieuczciwym zakupom.
<br>Jak przechowujemy Twoje dane?
<br>
<br>Nasza firma bezpiecznie przechowuje Twoje dane w [wprowadź lokalizację i opisz podjęte środki bezpieczeństwa].
<br>
<br>Nasza firma będzie przechowywać Twoje [wpisz typ danych] przez [wpisz okres]. Po upływie tego okresu usuniemy Twoje dane do [wpisz, jak usuwasz dane użytkowników].
<br>Marketing
<br>
<br>Nasza firma chciałaby przesłać Ci informacje o naszych produktach i usługach, które naszym zdaniem mogą Ci się spodobać, a także o produktach i usługach naszych firm partnerskich.
<br>
<br> [Wymień organizacje, które otrzymają dane]
<br>
<br>Jeśli wyraziłeś zgodę na otrzymywanie materiałów marketingowych, zawsze możesz zrezygnować w późniejszym terminie.
<br>
<br>Masz prawo w dowolnym momencie uniemożliwić naszej Firmie kontaktowanie się z Tobą w celach marketingowych lub przekazywanie Twoich danych innym członkom Grupy Naszej Firmy.
<br>
<br>Jeśli nie chcesz, aby kontaktowano się z Tobą w celach marketingowych, kliknij tutaj.
<br>Jakie są Twoje prawa do ochrony danych?
<br>
<br>Nasza firma pragnie upewnić się, że jesteś w pełni świadomy wszystkich swoich praw do ochrony danych. Każdemu użytkownikowi przysługuje:
<br>
<br>Prawo dostępu – masz prawo zażądać od naszej firmy kopii swoich danych osobowych. Za tę usługę możemy pobrać niewielką opłatę.
<br>
<br>Prawo do sprostowania — masz prawo zażądać od naszej firmy poprawienia wszelkich informacji, które uważasz za niedokładne. Masz również prawo zażądać od naszej firmy uzupełnienia informacji, które uważasz za niekompletne.
<br>
<br>Prawo do usunięcia — masz prawo zażądać, aby nasza firma usunęła Twoje dane osobowe, pod pewnymi warunkami.
<br>
<br>Prawo do ograniczenia przetwarzania — masz prawo zażądać, aby nasza firma ograniczyła przetwarzanie Twoich danych osobowych pod pewnymi warunkami.
<br>
<br>Prawo do sprzeciwu wobec przetwarzania – Masz prawo sprzeciwić się przetwarzaniu Twoich danych osobowych przez naszą firmę, pod pewnymi warunkami.
<br>
<br>Prawo do przenoszenia danych – Masz prawo zażądać, aby nasza firma przesłała zebrane przez nas dane do innej organizacji lub bezpośrednio do Ciebie, pod pewnymi warunkami.
<br>
<br>Jeśli złożysz prośbę, mamy miesiąc na odpowiedź. Jeśli chcesz skorzystać z któregokolwiek z tych praw, skontaktuj się z nami pod adresem e-mail:
<br>
<br>Zadzwoń do nas:
<br>
<br>Lub napisz do nas:
<br>Pliki cookie
<br>
<br>Pliki cookie to pliki tekstowe umieszczane na Twoim komputerze w celu zbierania standardowych informacji z dziennika internetowego oraz informacji o zachowaniu odwiedzających. Gdy odwiedzasz nasze strony internetowe, możemy automatycznie zbierać od Ciebie informacje za pomocą plików cookie lub podobnej technologii
<br>
<br>Aby uzyskać więcej informacji, odwiedź stronę allaboutcookies.org.
<br>Jak używamy plików cookie?
<br>
<br>Nasza firma wykorzystuje pliki cookie na wiele sposobów, aby poprawić komfort korzystania z naszej witryny, w tym:
<br>
<br> Utrzymywanie zalogowania
<br> Zrozumienie, w jaki sposób korzystasz z naszej strony internetowej
<br> [Dodaj wszelkie zastosowania plików cookie w Twojej firmie]
<br>
<br>Jakich typów plików cookie używamy?
<br>
<br>Istnieje wiele różnych rodzajów plików cookie, jednak nasza strona internetowa wykorzystuje:
<br>
<br> Funkcjonalność – Nasza firma używa tych plików cookie, abyśmy mogli rozpoznać Cię na naszej stronie internetowej i zapamiętać Twoje wcześniej wybrane preferencje. Mogą one obejmować preferowany język i lokalizację, w której się znajdujesz. Używana jest mieszanka plików cookie strony pierwszej i strony trzeciej.
<br> Reklama – Nasza firma wykorzystuje te pliki cookie do zbierania informacji o Twojej wizycie na naszej stronie internetowej, przeglądanych treściach, linkach, z których korzystasz, oraz informacji o Twojej przeglądarce, urządzeniu i Twoim adresie IP. Nasza firma czasami udostępnia pewne ograniczone aspekty tych danych stronom trzecim w celach reklamowych. Możemy również udostępniać dane online zebrane za pomocą plików cookie naszym partnerom reklamowym. Oznacza to, że kiedy odwiedzasz inną stronę internetową, możesz zobaczyć reklamy oparte na twoich wzorcach przeglądania na naszej stronie.
<br> [Dodaj inne typy plików cookie, z których korzysta Twoja firma]
<br>
<br>Jak zarządzać plikami cookie
<br>
<br>Możesz ustawić swoją przeglądarkę tak, aby nie akceptowała plików cookie, a powyższa witryna internetowa informuje, jak usunąć pliki cookie z przeglądarki. Jednak w niektórych przypadkach niektóre funkcje naszej witryny mogą nie działać.
<br>Polityka prywatności innych stron internetowych
<br>
<br>Witryna internetowa naszej firmy zawiera łącza do innych witryn internetowych. Nasza polityka prywatności dotyczy tylko naszego serwisu, dlatego jeśli klikniesz w link do innej strony, powinieneś zapoznać się z jej polityką prywatności.
<br>Zmiany w naszej polityce prywatności
<br>
<br>Nasza firma regularnie sprawdza swoją politykę prywatności i umieszcza wszelkie aktualizacje na tej stronie internetowej. Niniejsza polityka prywatności została ostatnio zaktualizowana w dniu 9 stycznia 2019 r.
<br>Jak się z nami skontaktować
<br>
<br>Jeśli masz jakiekolwiek pytania dotyczące polityki prywatności naszej firmy, przechowywanych przez nas danych lub chcesz skorzystać z jednego ze swoich praw do ochrony danych, nie wahaj się z nami skontaktować.
<br>
<br>Napisz do nas na:
<br>
<br>Zadzwoń do nas:
<br>
<br>Lub napisz do nas na:
<br>Jak skontaktować się z odpowiednim organem
<br>
<br>Jeśli chcesz zgłosić skargę lub jeśli uważasz, że nasza firma nie rozwiązała problemu w zadowalający sposób, możesz skontaktować się z Biurem Komisarza ds. Informacji.
<br>
<br>E-mail: WYW@gmail.com
<br>
<br>Adres: Plac Andersa 5, Poznań</p>
<br>
</div>
</div>
